h1,
p {
  margin: 0;
  padding: 0;
}

.cardWrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: solid 1px #16122c;
  background-color: #101020;
  background: linear-gradient(
    30deg,
    rgba(13, 2, 41, 1) 12%,
    rgba(19, 13, 29, 1) 100%
  );
  color: #e9ddfd;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  width: fit-content;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin: 0.5rem 0;
}

.status-active {
  background-color: #abffb0;
  color: #fff;
  padding: 0.25rem 0.25rem;
  border-radius: 999rem;
  width: 0.2rem;
  height: 0.2rem;
  display: flex;
  box-shadow: 0 0 0.25rem 0.25rem #75ff7c;
  align-items: center;
  justify-content: center;
}

.status-active::after {
  content: "";
  margin-left: 0.25rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem 0.5rem #75ff7c;
  border-radius: 100%;
}

.status-active::before {
  content: "";
  margin-left: 0.25rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2rem 0.5rem #75ff7c;
  border-radius: 100%;
}

.status-inactive {
  background-color: #ff8e9d;
  color: #fff;
  padding: 0.25rem 0.25rem;
  border-radius: 999rem;
  width: 0.2rem;
  height: 0.2rem;
  display: flex;
  box-shadow: 0 0 0.25rem 0.25rem #ff75a3;
  align-items: center;
  justify-content: center;
  filter: blur(0.5px);
}

.status-inactive::after {
  content: "";
  margin-left: 0.25rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1rem 0.5rem #ff7587;
  border-radius: 100%;
}

.status-inactive::before {
  content: "";
  margin-left: 0.25rem;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2rem 0.5rem #ff758c;
  border-radius: 100%;
}
