span {
  border-radius: 999rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  background: #0d0229;
  font-weight: 600;
  border: solid 1.5px #7953da;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
