main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0rem;
  padding: 2rem 2rem;
}

:host {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 2rem;
  padding: 1rem 2rem;
  background-color: rgb(13, 5, 26);
  color: #fff;
}
nav a {
  color: white;
}
